build
.cache/clangd/index
matrix-vector-product/.cache/clangd/index
matrix-vector-product/compile_commands.json
matrix_vector_product/.cache/clangd/index
matrix_vector_product/compile_commands.json
matrix_vector_product_state/.cache/clangd/index
matrix_vector_product_state/compile_commands.json
game_of_life/.gdb_history
game_of_life/.cache/clangd/index
game_of_life/compile_commands.json
gauss/.gdb_history
gauss_cuda/.gdb_history
